
        body {
            background: black;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: white;
            margin: 0;
            padding: 0;
        }

        .swiper-container {
            width: 100vw;
            height: 100vh;
            margin-left: auto;
            margin-right: auto;
        }
.swiper-wrapper{
  width: 100vw;height: 100vh;
}
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;}
video{position: relative;width: 100vw;height: 100vh;object-fit: cover}
 #bag {position: absolute;mix-blend-mode: screen;width: 100vw;height: 100vh;object-fit: cover;}
  #couple{background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688505/SCROLL%20TO%20SLIDE/bagy_s9pqpy.jpg);width: 100vw;height: 100vh;object-fit: cover;background-position: center center;}
#patra{width:200px;position: relative;top: 176px;right: 43px;animation: rot 3s infinite; animation-direction: alternate;}
 @keyframes rot {
  0% {
    transform: rotateY(20deg);
  }
  100% {
    transform: rotateY(-50deg);
  }
}
#patri{width:200px;position: relative;bottom: 108px;left: 43px;animation: rote 3s infinite; animation-direction: alternate;}
@keyframes rote {
  0% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(20deg);
  }
}
#myAudio{visibility: hidden;width:0px;height: 0px}
    .nimantran{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688509/SCROLL%20TO%20SLIDE/thrd_qqbph1.jpg);width: 100vw;height: 100vh;object-fit: cover;background-position: center center}
     .proja{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 27px;width: 280px;padding: 2px;border-radius: 43px;
   display: block;margin: 0 auto;color: #8F012F;background: #9D6800}  
    #fontcss{margin-left: 10px;margin-top: 15px;margin-bottom: 20px;color: #8F012F;font-family: 'Kalpurush', sans-serif;font-size: 22px;text-align: left}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #8F012F;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
 .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688504/SCROLL%20TO%20SLIDE/up_viwzuf.jpg);outline: none; }
    .img-upper{background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688504/SCROLL%20TO%20SLIDE/up_viwzuf.jpg);width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper img{width: 80px;height: 80px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background: url(low.jpg);outline: none;padding: 20px;padding-top: 40px;
    text-align: center;overflow: hidden}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;color: #1A4AFE;font-size: 22px;font-family: 'Kalpurush', sans-serif;
    background-color: white;border-radius: 25px;width: 160px;padding: 0;display: block;margin: 15px auto}
    .lower p{font-size: 16px;color: #006DFE;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688503/SCROLL%20TO%20SLIDE/up1_vekiaj.jpg);outline: none; }
    .img-upper1{background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688503/SCROLL%20TO%20SLIDE/up1_vekiaj.jpg);width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper1 img{width: 80px;height: 80px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background: url(low1.jpg);outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #F802E4;font-size: 22px;font-family: 'Kalpurush', sans-serif;
    background-color: white;border-radius: 25px;width: 200px;padding: 0px;display: block;margin: 15px auto}
    .lower1 p{font-size: 16px;color: #F83DE9;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #8F012F;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    .foth{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688507/SCROLL%20TO%20SLIDE/fort_oowh4t.jpg);width: 100vw;height: 100vh;object-fit: cover;background-position: center center}
    h2{text-align: center;font-size: 27px;color: #FDC400;font-family: 'Kalpurush', sans-serif;width: 190px;height: 33px;border-radius: 43px;
    display: block;margin: 30px auto;animation: lar 3s linear infinite}
    @keyframes lar{
      from{transform: scale(1.4)};
      from{transform: scale(.9)};
    }
    .sucu{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1611688513/SCROLL%20TO%20SLIDE/fire_xa7usn.gif);border-radius: 26px;}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: rgba(255,255,255,0.2);background-size: cover;color: #FCF300;
    font-family: 'Kalpurush', sans-serif;border-radius: 26px 26px 0px 0px;padding: 3px;line-height: 35px}
    .nai{text-align: center;color: white;font-family: 'Kalpurush', sans-serif;font-size: 20px;background: rgba(187,85,1,0.8)}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 65px;
line-height: 65px;
text-align: center;
background: rgba(254,10,27,0.8);font-family: 'Kalpurush', sans-serif;
border-radius: 40px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: rgba(217,254,146,0.8);
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:#FCF300;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 10px auto;border-radius: 23px;background: rgba(255,255,255,0.2);
    border-radius: 26px ;line-height: 35px;padding: 3px}
    .eg{text-align: center;color:white;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px;background: rgba(187,85,1,0.8)}
    .stha{text-align: center;color:#FCF300;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 10px auto;border-radius: 23px;background: rgba(255,255,255,0.2);
    border-radius: 26px ;line-height: 28px }
    .cu{text-align: center;color:white;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;background: rgba(187,85,1,0.8);
    border-radius: 0px 0px 26px 26px}